.logo 
{
    width: 13%;
}
.c
{
        font-size: 45px;
}
.icon
{
    width: 5%;
    padding: 40px;

}
.d
{
 font-size: 70px;
}
.e
{
        font-size: 68px;
        
}
.f
{
  
   color: red;
   text-align: center;
   font-size: 125px;

}
.h{
    font-size: 90px;
    background-color: lightgreen;

}
.m
{
    font-size: 70px;
}
.a{
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
}

.b{
  width: 32%;
  padding: 1%;
  border: 1px solid #ddd;
  box-shadow: 0px 8px 8px -8px #000;
  margin: 2%;

}

.child{
  width: 52%;
  padding: 1%;
  margin: 2%;
  border: 1px solid #ddd;
  box-shadow: 0px 8px 8px -8px #000;

}
@media only screen and (min-width:1024px) and (max-width: 2048px){
  .b{
     {
      width: 100px; 
      float: left;
      font-size: 20px
     }
  .child {
    margin-left: 216px;
    font-size: 25px
  }
    
 }





