.logo 
{
    width: 13%;
}
.c
{
        font-size: 45px;
}
.icon
{
    width: 5%;
    padding: 40px;

}
.d
{
 font-size: 70px;
}
.e
{
        font-size: 68px;
        padding: 20px;
}
.f
{
   font-size: 100px;
   color: red;
   padding-left: 24%

}
.a
{
    display: flex;
    flex-wrap: wrap;
    }
.h{
    font-size: 70px;
    background-color: lightgreen;
}
.m
{
    font-size: 67px;
}
@media screen and (max-width:2048) {
  .a {
    width:30%; 
  }
}



